.card-container{
    background: url('./bg.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2%;
    width: 100%;
    min-height: 100vh;
}
.card{
  background: #ffffff3f;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 360px;
    min-height: 120px;
    max-height: 240px;
    margin: 32px;
    border-radius: 24px;
}

.partOne , .partTwo{
   
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 12px;
  flex-direction: row;
  flex-wrap: wrap;
}
.partTwo{
  flex-direction: column;
}
.card image{
  width: 20px;
}
.priceBtn{
   
  margin-left: 120px;
}